<style>
	body{
		margin:1em auto;
		//max-width:40em;
		padding:0.62em;
	}
	article {
		font:1.05em/1.47 sans-serif;
	}

	h15,h25,h35 {
		line-height:1.2;
	}
	@media print2{
		body{
			max-width:none
		}
	}
</style>

<article>
<p>Hello!<br> Thanks for clicking Support! There are many ways to support us, as you can see from this and some other badly formatted pages here, we don't have a lot of
 manpower, but we have a lot of work. We want to make sure that the site works as well as possible, so styling comes later.
<br>If you have html, css or other helpful skills, 
please contact us at gggreplays@gmail.com !
<br> Another good way to help is to submit errors on this site, testing the site, thinking or programming new features and so on. 
<br>And of course, money also helps a lot. We are a small startup and every cent will make things go faster and more reliable. The server for now is not that expensive, but if more users, 
as we hope, will come to this site, we will need to upgrade. So, for anything you can spare, thank you very much!
<br>The green button will take you to Paypal, where you can enter any amount you want.
<br><br>
Best,<br>
Soeren
<br><br>
<a class="action button" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9N9BR2GZMFJVC">Support GGGReplays via Paypal</a></li>

<% if false %>
 
<br><br>
<ul class="instructions">
<li>asdasdsc2gears auto-upload<a href="https://twitter.com/Dougcope" class="ggtipper2 tiny" style="vertical-align:super" title="thanks to Doug Copestake">*</a></li>
<li>multiple battle.net accounts</li>
<li>unlimited web replay uploads</li>
<li>a <span class="tooltipped icon icon-star-32"></span> on your GGGReplays profile</li>
<li>your clan logo or graphic on your GGGReplays profile if you want</li>
<li>the satisfaction of knowing you're making eSports more awesome</li>
<br>
<li>private replays? <span class="tiny">if you would like this, let me know and I will add the capability to the site.</span></li>
</ul>
</p>
<br><br>
<p>
</p>
<br><br><br><br><br><br><br>
<p class="small">Players who are currently Grandmaster are entitled to GGGReplays Pro for free.  Just email us at gggreplays@gmail.com or <a href="http://twitter.com/GGGReplays_SC2">tweet</a>.</p><br>
<!-- https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=88MLJG4NCAELL -->
<!--p class="small">We also offer an <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=88MLJG4NCAELL&custom=<% if current_user.present? %>custom=<%= current_user.id %><% end %>">Annual Subscription</a> for $40/year.</p><br-->
<p class="small">If GGTracker Pro isn't for you, you can still help by telling three friends. &nbsp;&nbsp; (Hat tip <a href="http://www.twitch.tv/tumescentpie">TumescentPie</a>)</p>
<% end %>
</article>
