<% content_for(:head) do %>
  <title>GGGReplays Auto Uploader</title>
  <meta name="Description" content="GGGReplays's Auto Uploader uploads Starcraft II replays after every game you play.">
<% end %>

<div id="static">
  <div class="content">
    <div class="static_inner">
      <p>So you just finished a game of Starcraft.  And you won!  Or you lost.  Whatever.</p>
      <p>Either way, you want to go to GGGReplays immediately and review the game.  So, you go to gggreplays.com, hit UPLOAD, wait a bit and there it is.</p>
      <p>That's good, but this is better: with the Auto-uploader, available to our <a href="/go_pro">GGGReplays Pro</a> subscribers, and for testers (check <a href="/settings">Settings Page</a>), each game you play is <b>immediately</b> and <b>automatically</b> uploaded to GGGReplays.</p>
      <p>Usually, your game is up on GGGReplays faster than you can switch from Starcraft 2 to your browser.</p>
      <br>
      <p>If you are a GGGReplays Pro subscriber or tester, you can get your auto-uploader and instructions from the <a href="/settings">Settings Page</a>.</p>
    </div>
  </div>
</div>
