<% content_for(:head) do %>
  <title>GGGReplays</title>
  <meta name="Description" content="Track your Starcraft 2 stats so you can get better faster. Spending Skill, race-specific macro, army composition and more.">
<% end %>

<div id="tour">
  <div class="content">
<div class="boxy">
Hi, we'd love to hear your feedback. Please post it on <a target="_blank" href="http://reddit.com/r/gggreplays">reddit.com/r/gggreplays</a> or mail it to:<br>
<a href="mailto:gggreplays@gmail.com">Soeren Klett, gggreplays@gmail.com</a> ( gggreplays@gmail.com )
  </div>
</div>
