<% content_for(:head) do %>
  <title>GGGReplays</title>
  <meta name="Description" content="Track your Starcraft 2 stats so you can get better faster. Spending Skill, race-specific macro, army composition and more.">
<% end %>

<div id="tour">
  <div class="content">
<div class="boxy">
<p>To see charts and league badges for your Saturation Speed, you can use the training methodology called TheStaircase, which is integrated into GGGReplays. You can read more about TheStaircase <a target='_blank' href="https://docs.google.com/spreadsheets/d/1ZVfn8u6zYFWcuq6xPb6svABp_Q0hbyvrTrlx9tzr3Vk">here</a>.  To turn on TheStaircase view, click on the menu in the upper-right hand corner of the window.</p>
<p>More resources about TheStaircase: <a target='_blank' href="http://liquipedia.net/starcraft2/TheStaircase">On Liquipedia</a>.</p>
  </div>
</div>
