<% content_for(:head) do %>
  <title>GGGReplays Pro</title>
  <meta name="Description" content="Support gggreplays.com">
<% end %>

<div id="go_pro">
  <div class="content">
    <div class="going_pro">
      <%= render 'support' %>
    </div>
  </div>
</div>
