<% content_for(:head) do %>
  <title>GGGReplays</title>
  <meta name="Description" content="Track your Starcraft 2 stats so you can get better faster. Spending Skill, race-specific macro, army composition and more.">
<% end %>

<div id="tour">
  <div class="content">
<br>
<h1>Get better faster.</h1>
Hi! A very quick hello from us. You maybe read that ggtracker.com is shutting down and we'd like to continue the idea of it on this site. David helped us a lot setting everything up and it seems to work for now. But as always, there will be problems and if you encounter any(!) unusual things or if you want special features or things differently, please mail us at gggreplays@gmail.com ! So long, Soeren Klett from GeeGeeGaming!
<br><br>
<br><br>
<div class="boxy">
<p class="explitext">Review better. <b>Instantly</b> see army units, location and strength at any point in the game.</p>
<p style="text-align: center"><a href="matches/133"><%= image_tag "army.png" %></a></p>
</div>
<div class="boxy">
<p class="explitext">Improve better.  Measure your win rate, APM, Spending Skill, and more.</p>
<p style="text-align: center"><a href="players/87#?game_type=1v1&category=Ladder&page=1"><%= image_tag "profile.png" %></a></p>
</div>
<br><br><br>
<p style="text-align: center"><span style="font-size:125%">Try it for yourself:</span>
        <span class="button-upload">
          <input type="file" name="differentname" multiple/>
          <span class="caption">
            <span class="icon icon-upload-white-32"></span> Upload your replays
          </span>
        </span>
</p>
<br><br><br>
  </div>
</div>
