<div id="players">
<br>
<center>
<b>If you have any problems with the site or ideas for improvements, please post them to <a style="color: blue" target="_blank" href="http://reddit.com/r/gggreplays">reddit.com/r/gggreplays</a></b>
</center>
<br>
<br>
  <players>
  </players>
  <%= render 'shared/leaderad' %>    
</div>


