<div id="matches">
<center>
<br>
<b>If you have any problems with the site or ideas for improvements, please post them to <a style="color: blue" target="_blank" href="http://reddit.com/r/gggreplays">reddit.com/r/gggreplays</a></b>
<br>
<br>
</center>
  <matches collection="matches" have-replay="true">
  </matches>
  <%= render 'shared/leaderad' %>    
</div>

